
<!--==================== HOME ====================-->
<section class="home container" id="home">
    <include src="partial/main/home.html"></include>
</section>

<!--==================== CATEGORY ====================-->
<section class="section category">
    <include src="partial/main/category.html"></include>
</section>

<!--==================== ABOUT ====================-->
<section class="section about" id="about">
    <include src="partial/main/about.html"></include>
</section>

<!--==================== TRICK OR TREAT ====================-->
<section class="section trick" id="trick">
    <include src="partial/main/trick.html"></include>
</section>

<!--==================== DISCOUNT ====================-->
<section class="section discount">
    <include src="partial/main/discount.html"></include>
</section>

<!--==================== NEW ARRIVALS ====================-->
<section class="section new" id="new">
    <include src="partial/main/new.html"></include>
</section>

<!--==================== OUR NEWSLETTER ====================-->
<section class="section newsletter">
    <include src="partial/main/newsletter.html"></include>
</section>